body{
  font-family: 'Pirata One',
  cursive;
  background-color: rgba(6, 207, 243, 0.589);
}

.timer {
  width: 45%;
  display: flex;
  font-size: 36px;
  justify-content: space-between;
  color: rgb(63, 63, 62);
  margin-top: 350px;
  margin-left: 450px;
  margin-right: 450px;
}
.value {
  color: rgb(255, 0, 0);
  font-size: 45px;

  
}


