.timer {
  width: 50%;
  display: flex;
  font-size: 36px;
  justify-content: space-between;
  color: rgb(63, 63, 62);
  margin-top: 350px;
  margin-left: 280px;
}
.value {
  color: rgb(76, 0, 255);
  font-size: 45px;
}
